:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondory-color: #ffffff;
  --paragraph-color: #757575;
  --section-background-color: #2f303a;
  --primary-section-background-color: #f5f4fa;
}

body {
  background-color: var(--secondory-color);
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
width: 1200px;
margin: 0 auto;
}

.section {
padding: 94px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 25px 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}

.highlight-black {
  color: var(--primary-color);
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin-right: 50px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
}

.menu-link:hover {
  color: var(--accent-color);
}

.menu-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.menu-contacts {
  margin: 0;
  padding: 0;
}

.menu-contacts-item {
  display: inline-block;
  margin-left: 50px;
}

.menu-contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
}

.menu-contacts-link:hover {
  color: var(--accent-color);
}

.menu-contacts-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--section-background-color);
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: calc(200px - 94px);
  padding-bottom: calc(280px - 94px);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondory-color);
  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondory-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px ;
}

.benefits-list {
  display: flex;
  gap: 30px;
  margin: 0;
padding: 0;
}

.benefits-list-item {
  list-style: none;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 0;
}

.benefits-description {
  line-height: 1.71;
  color: var(--paragraph-color);
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 50;
}

.team {
  background-color: var(--primary-section-background-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-color);
}

.team-function {
  font-size: 16px;
  line-height: 1.18;
  color: var(--paragraph-color);
}

.highlight-white {
  color: var(--secondory-color);
}

.footer {
  background-color: var(--section-background-color);
}

.footer-contacts {
  font-style: normal;
}

.footer-address {
  line-height: 1.71;
  color: var(--secondory-color);
}

.footer-contact-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
}

.button-portfolio:hover {
  color: var(--secondory-color);
  background: var(--accent-color);
}

.button-portfolio:focus {
  color: var(--secondory-color);
  background: var(--accent-color);
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.subtitle-portfolio {
  font-size: 16px;
  line-height: 1.88;
  color: var(--paragraph-color);
}